# Download this from the cloudlab website
manifest.xml

# Output from experiments
logs

# Do not add results or generated plots to repo
plots
results

# These symlinks are created to help lookup logs
current-measurement
last-measurement
